.reset-password-container {
    width: 100%;
    min-height: 100svh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.reset-password-container > form {
    width: 30%;
    min-width: 380px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: var(--hh-spacing-m);
    background-color: var(--hh-color-000);
    border: 1px solid var(--hh-color-010);
    border-radius: var(--hh-br-s);
    gap: var(--hh-spacing-l);
}

.reset-password-container > form > h2 {
    font-size: var(--hh-font-size-m);
    font-family: var(--hh-font-family-primary);
    color: var(--hh-color-090);
}

.label-form {
    font-size: var(--hh-font-size-s);
    color: var(--hh-color-090);
}

.label-form-error {
    font-size: var(--hh-font-size-s);
    color: var(--hh-error-color);
}

.field-form {
    width: 100%;
    padding: var(--hh-spacing-m);
    border: 1px solid var(--hh-color-010);
    background-color: var(--hh-color-000);
    color: var(--hh-color-100);
    border-radius: var(--hh-br-s);
}

.field-form:focus {
    outline: none;
}


.field-form-error {
    outline: 2px solid var(--hh-error-color);
}