.forgot-pwd-container {
    width: 40%;
    min-width: 340px;
    max-width: 400px;
    display: flex;
    flex-direction: column;
    padding: var(--hh-spacing-m);
}

.forgot-pwd-header {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: var(--hh-spacing-s);
}

.forgot-pwd-header > h2 {
    font-size: var(--hh-font-size-m);
    font-family: var(--hh-font-family-primary);
    color: var(--hh-color-090);
}

.login-ln {
    width: 100%;
    display: flex;
    justify-content: end;
    cursor: pointer;
    font-family: var(--hh-font-family-primary);
    font-size: var(--hh-font-size-s);
    padding: var(--hh-spacing-s);
    color: var(--hh-color-010);
}

.login-ln:hover {
    text-decoration: underline;
}

.requested {
    width: 100%;
    min-width: 340px;
    max-width: 400px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: var(--hh-spacing-m);
    background-color: var(--hh-color-000);
    border: 1px solid var(--hh-color-010);
    border-radius: var(--hh-br-s);
    gap: var(--hh-spacing-l);    
    padding: var(--hh-spacing-m);
}

.requested > p {
    font-size: var(--hh-font-size-s);
    font-family: var(--hh-font-family-primary);
    color: var(--hh-color-090);
}